/* Colors */
/* Main Red: #9A005D */
/* Footer Dard Grey: #757575 */
/* Testimonial Yellow: #F6F0E0 */

h1,h2,h3,h4,h5,h6 { color: #9A005D; }

/* WooCommerce Override */
body.single-product .product_meta { display: none; }
body.single-product table.variations .value select { width: auto; }
#pointsRequirementTable tr td, #pointsRequirementTable tr th {
  vertical-align: middle;
  text-align: center;
}
#pointsRequirementTable img {
  display: inline-block;
  width: 80px;
}

/* Foundation Override */
.button {
  line-height: 1.618;
  vertical-align: baseline;
  font-size: 100%;
  margin: 0;
}

/* Storefront Override */
@media (min-width: 768px) {
  .site-header .storefront-primary-navigation { background-color: #9A005D; }
  .site-header .storefront-primary-navigation ul.nav-menu > li.menu-item > a { color: white; padding: 1.618em .8em; }
  .site-header .storefront-primary-navigation ul.nav-menu > li.menu-item > a:hover { color: #cccccc; }
  ul#site-header-cart > li > a { color: white; }
  ul#site-header-cart > li > a:hover { color: #cccccc; }
}

@media (min-width: 768px) {
  .site-footer { padding-bottom: 0; }
}
.site-footer .site-info {
  background-color: #757575;
  color: white;
}
.site-footer .site-info .col-full .links { text-align: left; }
.site-footer .site-info .col-full .links a { color: white; }
.site-footer .site-info .col-full .copyright { text-align: right; }

.hentry.type-post .entry-content {
  float: left;
}

#secondary.widget-area .widget .widget-title { color: #9A005D; }
#secondary.widget-area .widget.widget_nav_menu ul ul { margin-left: 0; margin-top: 1em; }
#secondary.widget-area .widget.widget_nav_menu ul.menu li { display: none; }
#secondary.widget-area .widget.widget_nav_menu ul.menu > li { display: list-item; }
#secondary.widget-area .widget.widget_nav_menu ul.menu li.current-page-ancestor > ul.sub-menu > li { display: list-item; }
#secondary.widget-area .widget.widget_nav_menu ul.menu li.current-menu-item > ul.sub-menu > li { display: list-item; }
#secondary.widget-area .widget.widget_nav_menu ul.menu li.current-page-ancestor { display: list-item; }

@media (min-width: 768px) {
  .storefront-breadcrumb {
    margin-bottom: 1.618em !important;
  }
}

.woocommerce-breadcrumb span span span a:first-of-type::before { content: ""; }

/* Storefront Child Modules */
.storefront-child-product-hero-slider { margin-top: 1.618em; }
.storefront-child-product-hero-slider img { border-radius: 0; }
.storefront-child-product-hero-slider .slider .slide { background-color: #9A005D; }
.storefront-child-product-hero-slider .slider .slide .slide-text {
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1em;
}
.storefront-child-product-hero-slider .slider .slide .slide-text h2 {
  color: white;
  font-weight: bold;
}
.slick-dots { bottom: -35px; }
.slick-dots li { width: 30px; height: 30px; }
.slick-dots li button { width: 30px; height: 30px; }
.slick-dots li button:before { width: 30px; height: 30px; line-height: 30px; font-size: 11px; }
.slick-dotted.slick-slider { margin-bottom: 50px; }
/* Homepage popup START */
.homepage-popup {
  padding: 1em;
  background-color: white;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
}
.mfp-bg {
  background-color: white;
}
/* Homepage popup END */

/* (CMS Content) .testimonial-block */
.testimonial-block .content {
  padding: 1.5em;
  background-color: #F6F0E0;
  border-radius: 1.5em;
}
.testimonial-block .content h3 {
  color: #9A005D;
}
table.social-menu tbody td { background-color: transparent; }
table.social-menu tbody tr:nth-child(2n) td { background-color: transparent; }
table.social-menu tbody td a { float: left; margin-right: 10px; }

/* Gift Redeem section at Cart Page */
@media (min-width: 768px) {
  .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
    width: 49% !important;
  }
  .cart-collaterals .gift_redeem {
    width: 49%; 
    float: left;
    margin-right: 0;
    margin: 0;
  }
}
.cart-collaterals .gift_redeem table th,
.cart-collaterals .gift_redeem table td {
  vertical-align: middle;
}
.cart-collaterals .gift_redeem form {
  margin-bottom: 0;
}
.cart-collaterals .gift_redeem form input[type='number'] {
  padding: .6180469716em;
  background-color: #f2f2f2;
  color: #43454b;
  outline: 0;
  border: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-weight: 400;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
}

/* Points and Rewards */
.woocommerce-info.wc_points_redeem_earn_points { display: none; }

/*Checkout page*/
#payment .payment_methods li img {
  max-width: 10em;
}
.form-row.form-row-one {
  width: 20%;
  margin-right: 5%;
  float: left;
}
.form-row.form-row-two {
  width: 20%;
  margin-right: 5%;
  float: left;
}
.form-row.form-row-two .optional,
.form-row.form-row-three .optional {
  display: none;
}
.form-row.form-row-three {
  width: 50%;
  float: left;
}

.text_for_product_na_in_country {
  color: #9A005D;
  padding: 1em;
  /*border: 1px solid grey;*/
  background-color: #fff4df;
}